{% extends 'base.html.twig' %}

{% block title %}Ma librairie
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Bienvenue dans notre librairie en ligne !</h1>
		<p>Découvre un monde de connaissances et d'aventures sans quitter ton salon.</p>
		<ul>
			<li>Une vaste sélection de livres pour tous les goûts et intérêts.</li>

		</ul>

		{# <h1>Hello {{ controller_name }}! ✅</h1>
				
				    This friendly message is coming from:
				    <ul>
				        <li>Your controller at <code>C:/Users/ACER/Desktop/Projet_2_Symfony/projet_symfony_2/projet_symfony_2/src/Controller/HomeControllersController.php</code></li>
				        <li>Your template at <code>C:/Users/ACER/Desktop/Projet_2_Symfony/projet_symfony_2/projet_symfony_2/templates/home_controllers/index.html.twig</code></li>
				    </ul> #}
	</div>
{% endblock %}
