{% extends 'base.html.twig' %}   
    {% block title %}
      Commandes par date
    {% endblock %}
  {% block body %}
   <h1  class=" text-aligne text-center"> Commandes par date </h1>

    {{ form_start(form) }}
   <div class ="forme ">
   
    {{ form_widget(form) }}

     <button class="btn btn-primary  mt-4">{{ 'Valider' }}</button>
   </div>
    {{ form_end(form) }}

{% endblock %}