{% extends 'base.html.twig' %}


    {% block body %}
    Modification livre
     <div class="text-center">
     <h1> Update livre </h1>

    {{ form_start(form) }}
        <div class ="mx-auto container  ml-5">
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary  mt-4">{{ 'Validez la modification' }}</button>
    </div>

    {{ form_end(form) }}
    </div>

{% endblock %}